.carousel__container {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 54px 150px;
  width: 100%;
  height: 50%;
}

.carousel__container .hidden {
  display: none;
}

.carousel__container .active {
  display: block;
}

.carousel__bar-container {
  margin-top: 36px;
  width: 100%;
  height: 4px;
  display: flex;
  gap: 3px;
}

.carousel__bar-container .carousel__bar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.534);
}

.carousel__bar-container .carousel__bar .carousel__bar-progress {
  height: 100%;
}

.progress-animate {
  animation: progressBar linear;
  background-color: rgb(255, 255, 255);
}

@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.carousel__container .carousel__slide .carousel__slide-review {
  font-size: 40px;
  font-weight: 900;
  padding: 40px 0 60px 0;
  max-width: 80%;
  margin: auto;
}

.carousel__container .carousel__slide .carousel__slide-reviewer {
  font-weight: 600;
}

.carousel__container .carousel__slide .carousel__slide-reviewer img {
}

.carousel__container
  .carousel__slide
  .carousel__slide-reviewer
  .carousel__slide-reviewer-name {
  margin-top: 10px;
  margin-bottom: 5px;
}

.carousel__container
  .carousel__slide
  .carousel__slide-reviewer
  .carousel__slide-reviewer-company-name {
}
